<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <%- include ('partials/head.ejs');%>

</head>
<body class="container">
    <%- include ('partials/header.ejs');%>

    <% if(entries.length) { %>
        <% entries.forEach(function(entry){%>
           <div class="card">
            <div class="card-header">
                <%= entry.title %>
                <p class="float-end">  <%= entry.published %></p>    
            </div>
            
            <div class="card-body">
                <%= entry.content%>
            </div>
           </div>

        <%})%>
    <%} else {%>
        <p>There aren't entries</p>
    <%}%>


    
</body>
</html>